html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carousel {
    margin-bottom: 100px; /* Espaciado con el footer */
}

.carousel-image {
    width: 100%; /* Ajustar al ancho del carrusel */
    height: 400px; /* Altura uniforme para todas las imágenes */
    object-fit: contain; /* Recortar para llenar el contenedor */
}

footer {
    background-color: #343a40; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 5px 0; /* Espaciado interno */
    margin-top: 20px; /* Separación con el carrusel */
    text-align: center; 
}